<header>
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/"><span>首页</span></a></li>
            <li><a href="/lcov/index.html" target="_blank"><span>代码覆盖率</span></a></li>
            <li><a href="/check"><span>静态扫描结果</span></a></li>
            <li><a href="/valgrind.html"><span>动态扫描结果</span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    单元测试结果
                            <b class="caret"></b>
                        </a>
                <ul class="dropdown-menu">
                    <li><a href="/cppunit_success.html">成功案例</a></li>
                    <li><a href="/cppunit_false.html">失败案例</a></li>
                </ul>
            </li>
            <li><a href="/book.html"><span>留言板</span></a></li>
        </ul>
    </nav>
</header>