<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>DIR</td>
                <td>FILE</td>
                <td>FN</td>
                <td>LINE</td>
            </tr>
        </thead>
        {{range $k, $v := .list}}
        <tr>
            <td>{{$v.Id}}</td>
            <td>{{$v.Dir}}</td>
            <td>{{$v.File}}</td>
            <td>{{$v.Fn}}</td>
            <td>{{$v.Line}}</td>
        </tr>
        {{end}}
    </table>
</div>